<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>{{ asset('pages/css/main.css') }}</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="{{ asset('pages/css/main.css') }}" rel="stylesheet"/>
        
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
            <div id="loader">
        <span class="lettre">Y</span>
        <span class="lettre">O</span>
    </div>

    <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>

        <!-- logo -->
        <a href="/" class="menu-logo">
            <img src="{{ asset('images/pokeball.png') }}" alt="My Awesome Website"/>
        </a>

        <!-- menu items -->
        <div class="menu">
            <ul>
            <li>
                <a href="/">
                Home
                </a>
            </li>
            <li>
                <a href="/pokemons">
                Pokemons
                </a>
            </li>
            <li>
                <a href="/Tpokemons">
                Test
                </a>
            </li>
            </ul>
            <ul>
            <li>
                <a href="#signup">
                Sign-up
                </a>
            </li>
            <li>
                <a href="#login">
                Login
                </a>
            </li>
            </ul>
        </div>
    </nav>


        {% block body %}
        {% endblock %}
    </body>

    {% block javascripts %}
    {% endblock %}

</html>
